# Maser Buoy – DHCP for WiFi AP (native dnsmasq)
# .buoy DNS is in /etc/dnsmasq.d/maser_buoy_buoy.conf
interface={{ wifi_interface }}
bind-interfaces
dhcp-range=10.3.141.2,10.3.141.254,255.255.255.0,24h
dhcp-option=3,10.3.141.1
dhcp-option=6,10.3.141.1
